/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;

$font-size: 14px;
$line-height: 20px;
$base-color-text: #333333;
$secondary-color-text: #7859cf;
$base-background-color: #7859cf;
$secondary-background-color: #ffffff;
