.contacts__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  color: $secondary-color-text;
}

.contacts__address {
  font-style: normal;
}

.contacts__phone {
  font-style: normal;
}
