.features__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    margin-bottom: 120px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__article {
  margin-top: 0;
  margin-bottom: 4px;
  order: -1;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-color-text;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 339px 339px;
    gap: 30px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
    gap: 30px;

  }
}

.features__item {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
  }
}

.features__item--speed {
  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#speed");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      left: 26px;
      top: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.features__item--fit {
  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#fit");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      left: 26px;
      top: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.features__item--energy {
  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#energy");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      left: 26px;
      top: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.features__item--eco {
  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#eco");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      left: 26px;
      top: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translate(-50%);
    }
  }
}


.features__caption {
  margin: 0;
  padding-top: 66px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    margin-left: 72px;
    padding-top: 0;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 76px;
    padding-bottom: 10px;
    text-align: center;

  }
}

.features__description {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-left: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    text-align: center;
  }
}
