.features__article {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-color-text;
}

.features__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.features__caption {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
