.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 728px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1360px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}
