.hero {
  position: relative;
  background-color: #f3ebe1;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 249px;
      background-color: $secondary-background-color;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: none;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 180px;
    min-height: 714px;
  }
}

.hero__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: right;
    padding-right: 125px;
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../../icons/stack.svg#arrow");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -12px;
    left: -18px;

    @media (min-width: $tablet-width) {
      top: 230px;
      left: 1px;
    }

    @media (min-width: $desktop-width) {
      top: 147px;
      left: -8px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../../icons/stack.svg#arrow");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -12px;
    right: -18px;
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      top: 230px;
      right: 1px;
    }

    @media (min-width: $tablet-width) {
      top: 147px;
      right: -8px;
    }
  }
}

.hero__description {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 608px;
    margin: 0 auto 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 625px;
  }
}

.hero__desc {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-color-text;
  order: -1;

  @media (min-width: $tablet-width) {
    order: -3;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 104px;
  }
}

.hero__sum {
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-right: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 260px;
  }
}

.hero__last-price {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  text-align: left;
  color: $secondary-color-text;
}

.hero__price {
  margin: 4px 20px 0 6px;
  font-size: 20;
  line-height: 32px;
  font-weight: 600;
  color: $base-color-text;
}

.hero__button {
  width: 113px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 20px;
}

.hero__image {
  position: relative;
  margin-bottom: 10px;
  order: -2;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 30px;
    left: 65px;
  }
}
