.logo {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.logo__toggle {
  &--closed {
    width: 16px;
    height: 16px;
    background-image: url("../../icons/stack.svg#burger");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    padding-left: 15px;
    margin-left: 19px;
    margin-top: 22px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--closed:active {
    background-color: #f0ebff;
  }

  &--opened {
    width: 16px;
    height: 16px;
    background-image: url("../../icons/stack.svg#cross");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
  }
}

.logo__shop {
  display: none;
}
