.main-footer__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}


.main-footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  color: $secondary-color-text;
}

.main-footer__list {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  list-style-type: none;
}

.main-footer__item {
  margin-bottom: 20px;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 30px;
}
