.menu__link {
  text-decoration: none;
  color: $base-color-text;
}

.menu__desc {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
