.pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0 0 44px 0;
  list-style-type: none;
}

.pagination__item {

  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: $secondary-background-color;
}

.pagination__link {
  text-decoration: none;
  color: $secondary-color-text;
  cursor: pointer;


  &--back {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow_pagination");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 14px;
    left: 14px;
  }

  &--current {
    font-weight: 600;
    color: $base-color-text;
    background-color: #f8f8f8;

  }

  &--next {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow_pagination");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 14px;
    right: 14px;
  }
}
