.select-control {
  padding: 0 10px;
  width: 165px;
  height: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  color: $secondary-color-text;
  background-color: #f8f8f8;
  border: none;
}
