.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 150px;
    gap: 19px;
  }
}

.site-list__item {
  position: relative;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    width: 103px;
    height: 80px;
    padding-top: 29px;
    text-align: center;
  }
}

.site-list__link {

  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $base-color-text;

  @media (min-width: $tablet-width) {

    &--current {
      color: $secondary-color-text;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 76px;
        right: 0;
        background-color: $base-background-color;
      }
    }
  }



}
