.user-list {
  display: flex;
}

.user-list__item {
  position: relative;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    height: 80px;
  }
}

.user-list__login {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../../icons/stack.svg#user");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  top: 22px;
  left: 22px;

  @media (min-width: $tablet-width) {
    top: 32px;
  }
}

.user-list__basket {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../../icons/stack.svg#basket");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  top: 22px;
  left: 22px;

  @media (min-width: $tablet-width) {
    top: 32px;
  }
}
